@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
@layer components {
  .circle-btn {
    @apply w-10 h-10 rounded-full border border-pink 
           flex items-center justify-center text-pink 
           hover:bg-softbeige  transition;
  }
  .main-btn {
    @apply overflow-hidden before:z-0   before:rounded-t-xl  relative before:bg-white
     bg-pink before:inset-0 before:translate-y-full before:absolute before:transition-transform before:duration-300 before:ease-in-out hover:before:translate-y-0 
    text-white   duration-150 btn border border-pink  rounded-full 
           hover:text-pink;
  }
  .form-input {
    @apply w-full p-2 border border-gray-400 rounded-full  outline-none focus:border-none focus:ring-1 focus:ring-gray-500;
  }
  .form-label {
    @apply text-sm font-semibold text-gray-800;
  }
  .activePage {
    @apply text-pink;
  }
  .slider-btn {
    @apply absolute flex items-center justify-center w-8 h-8 p-2 text-white -translate-y-1/2 rounded-full bg-pink right-5 top-1/2;
  }
}
